---
import "@fontsource/cascadia-code";
---
<div class="log-container">
    <div class="loader"></div>
</div>

<style>
.loader {
  border: 4px solid rgba(255, 255, 255, 0.3); /* Light grey border */
  border-top: 4px solid #ffffff; /* White top border for spinner */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.log-container {
    background-color: #111; /* Dark blue reminiscent of deep space */
    color: #c0c0c8; /* Light grey for high contrast text */
    border: 2px solid #f4f4f8; /* Light border */
    padding: 20px;
    margin: 20px;
    overflow-y: auto; /* Allow scrolling */
    font-family: 'Cascadia Code'; /* Monospace font for that tech feel */
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.2); /* Soft white glow */
}

/* Style for warning log entries */
.warning {
    color: #ffae00; /* Orange color for warnings */
}

/* Style for error log entries */
.error {
    color: #ff4f4f; /* Red color for errors */
}

/* Style for info log entries */
.info {
    color: #4fafff; /* Light blue for informational messages */
}

</style>