---
import LogStreamer from '../components/LogStreamer.astro';
import Button from '../components/Button.astro';
import "@fontsource/aleo";
import "@fontsource/cascadia-code";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>AstroBoard</title>
	</head>
	<body>
		<h1>👩🏼‍🚀 AstroBoard</h1>
		<Button>Reconcile</Button>
		<LogStreamer></LogStreamer>
		<div class="stars"></div>
        <script>
        import '../scripts/websocket.js';
        </script>
	</body>
</html>

<style>
html{
	font-family: 'Cascadia Code',sans-serif;
	background: rgb(5, 0, 27);
	color: white;
	display: flexbox;
	flex-direction: column;
	text-align: center;

	.stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1000px 1000px white, 900px 250px white, 400px 800px white,
                1200px 900px white, 500px 1200px white, 800px 1500px white,
                250px 400px white, 1500px 100px white, 700px 600px white,
                1100px 300px white, 100px 1100px white, 1200px 1300px white,
                1300px 700px white;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1;
    transform: translate(-50%, -50%);
    will-change: transform;
}

.stars:after {
    content: " ";
    position: absolute;
    top: 500px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1000px 1000px white, 900px 250px white, 400px 800px white,
                1200px 900px white, 500px 1200px white, 800px 1500px white,
                250px 400px white, 1500px 100px white, 700px 600px white,
                1100px 300px white, 100px 1100px white, 1200px 1300px white,
                1300px 700px white;
}

}
</style>